In [12]:
import pandas as pd
from nltk.corpus import stopwords
from tools import *
import nltk.data
#nltk.download('stopwords')
stopwords = set(stopwords.words('english'))
tokenizer = nltk.data.load('tokenizers/punkt/english.pickle')

In [4]:
data_aei = pd.read_csv('cleaned_data/aei_clean_text.csv')
data_hrg = pd.read_csv('cleaned_data/heritage_clean_text.csv')
data_pr = pd.read_csv('cleaned_data/policy_review_clean_text.csv')
data_sig = pd.read_csv('cleaned_data/signal_clean_text.csv')

In [17]:
data_pr = data_pr.dropna()
## split into sentences
data_pr['sent'] = data_pr['text'].apply(lambda x: [j for i in x.split('\n') 
                                        for j in tokenizer.tokenize(i)])

In [22]:
## token each sentences
sent_token = []
max_len = data_pr.shape[0]
for ind, txt in enumerate(data_pr['sent']):
    print(round(ind/max_len, 4), end = '\r')
    sent_token.append([normalizeTokens(i) for i in txt])

In [23]:
data_pr['sent_token'] = sent_token
data_pr['word_token'] = data_pr['sent_token'].apply(lambda x: [j for i in x for j in i])

In [24]:
data_pr['Year'] = data_pr['date'].apply(lambda x: x[:4])
data_pr.to_csv('cleaned_data/pr_clean_text.csv', index=False)

In [27]:
data_pr['ind'] = data_pr.index
data_pr['ind'] = data_pr['ind'].apply(lambda x: 'sig'+str(x))
data_pr = data_pr[['ind', 'Year', 'text', 'sent_token', 'word_token']]

In [30]:
data_pr.to_csv('data/pr_token.csv', index=False)

In [31]:
data_pr.head()

,ind,Year,text,sent_token,word_token
0,sig0,1999,The untold story of special education\nOne of ...,"[[untold, story, special, education], [common,...","[untold, story, special, education, common, ar..."
1,sig1,1995,"In 1992 and 1993, former U.S. Attorney General...","[[u.s, attorney, general, richard, thornburgh,...","[u.s, attorney, general, richard, thornburgh, ..."
2,sig2,2002,The former u.s. ambassador to the Court of St....,"[[u.s, ambassador, court, st, james, ray, seit...","[u.s, ambassador, court, st, james, ray, seitz..."
3,sig3,1998,"In two recent reports, elite opinion is divide...","[[recent, report, elite, opinion, divide, prop...","[recent, report, elite, opinion, divide, prope..."
4,sig4,2003,Thomas E. Patterson.The Vanishing Voter: Publi...,"[[thomas, e., patterson.the, vanish, voter, pu...","[thomas, e., patterson.the, vanish, voter, pub..."

In [33]:
from collections import Counter

In [39]:
c = Counter(data_pr['Year'])
sorted(c.items(), key=lambda k: k[0])

[('1989', 5),
 ('1990', 1),
 ('1993', 1),
 ('1995', 46),
 ('1996', 56),
 ('1997', 44),
 ('1998', 43),
 ('1999', 40),
 ('2000', 41),
 ('2001', 43),
 ('2002', 43),
 ('2003', 42),
 ('2004', 36),
 ('2005', 46),
 ('2006', 40),
 ('2007', 45),
 ('2008', 44),
 ('2009', 50),
 ('2010', 45),
 ('2011', 54),
 ('2012', 67),
 ('2013', 12)]

In [44]:
data_aei['Year'] = data_aei['date'].apply(lambda x: x[:4])

/Users/chen.liang/anaconda3/envs/R_Python/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [45]:
c = Counter(data_aei['Year'])
sorted(c.items(), key=lambda k: k[0])

[('1966', 2),
 ('1968', 3),
 ('1969', 1),
 ('1970', 10),
 ('1972', 4),
 ('1973', 4),
 ('1974', 5),
 ('1975', 6),
 ('1976', 6),
 ('1977', 13),
 ('1978', 27),
 ('1979', 28),
 ('1980', 33),
 ('1981', 28),
 ('1982', 40),
 ('1983', 23),
 ('1984', 21),
 ('1985', 11),
 ('1986', 16),
 ('1987', 23),
 ('1988', 10),
 ('1989', 13),
 ('1990', 23),
 ('1991', 19),
 ('1992', 18),
 ('1993', 39),
 ('1994', 46),
 ('1995', 58),
 ('1996', 116),
 ('1997', 156),
 ('1998', 218),
 ('1999', 302),
 ('2000', 264),
 ('2001', 355),
 ('2002', 406),
 ('2003', 592),
 ('2004', 882),
 ('2005', 952),
 ('2006', 1198),
 ('2007', 2089),
 ('2008', 2109),
 ('2009', 2696),
 ('2010', 2881),
 ('2011', 3420),
 ('2012', 3733),
 ('2013', 3729),
 ('2014', 3274),
 ('2015', 2828),
 ('2016', 2776),
 ('2017', 2438),
 ('2018', 2301),
 ('2019', 2253),
 ('2020', 481)]

In [49]:
data_hrg['Year'] = data_hrg['date'].apply(lambda x: str(x)[:4])
c = Counter(data_hrg['Year'])
sorted(c.items(), key=lambda k: k[0])

[('1977', 30),
 ('1978', 16),
 ('1979', 28),
 ('1980', 19),
 ('1981', 20),
 ('1982', 34),
 ('1983', 48),
 ('1984', 64),
 ('1985', 69),
 ('1986', 64),
 ('1987', 91),
 ('1988', 70),
 ('1989', 81),
 ('1990', 79),
 ('1991', 65),
 ('1992', 93),
 ('1993', 84),
 ('1994', 93),
 ('1995', 141),
 ('1996', 97),
 ('1997', 109),
 ('1998', 162),
 ('1999', 214),
 ('2000', 206),
 ('2001', 331),
 ('2002', 296),
 ('2003', 500),
 ('2004', 537),
 ('2005', 509),
 ('2006', 516),
 ('2007', 614),
 ('2008', 563),
 ('2009', 892),
 ('2010', 771),
 ('2011', 760),
 ('2012', 741),
 ('2013', 742),
 ('2014', 885),
 ('2015', 739),
 ('2016', 572),
 ('2017', 1294),
 ('2018', 1484),
 ('2019', 1472),
 ('2020', 100),
 ('nan', 360)]

In [50]:
data_sig['Year'] = data_sig['date'].apply(lambda x: str(x)[:4])
c = Counter(data_sig['Year'])
sorted(c.items(), key=lambda k: k[0])

[('2008', 1010),
 ('2009', 2012),
 ('2010', 1940),
 ('2011', 1474),
 ('2012', 1478),
 ('2013', 1725),
 ('2014', 3893),
 ('2015', 4225),
 ('2016', 2596),
 ('2017', 2902),
 ('2018', 3432),
 ('2019', 3263),
 ('2020', 538)]